@import '../../scss/abstracts/variables';

.harvee-infor {
  background: #eeeeee;
  .harvee-infor-item {
    background: #eeeeee;
    border: white 1px solid;
  }
  .harvee-icon {
    i {
      color: $harvee;
      font-size: 40px;
    }
  }
}
